[submodule "MaixPy-v1"]
	path = MaixPy-v1
	url = https://github.com/sipeed/MaixPy-v1.git
	ignore = dirty

[submodule "third_party/tflite-micro"]
	path = third_party/tflite-micro
	url = https://github.com/tensorflow/tflite-micro.git
